{% extends "pytorch_segmentation/base.html" %}
{% load static i18n dictionary list%}

{% block content_block %}

<form class="form-base-coloring" id="input_form" method="post" style="width: 100%">
    {% csrf_token %}
    <div class="centered-div">
        <p class="h3">Clean model analyses</p>
        <small>
            Here you can sanitize multiple model analyses of the database. If an analysis does not contain any data, it wil be removed.<br>
            Further, if you killed a training proces, some data might not be stored correctly.
            This will fill missing entries.
        </small>
        {% for form_field in form %}
            {# -------- #}
            {# Sub rows #}
            {# -------- #}

            {% if form_field.name|is_in_string_list:'remove_with_less_epochs_than' %}
                <div class="row em1">
            {% endif %}


            {# ------------- #}
            {# Fields #}
            {# ------------- #}

            <div class="col-sm">
                {% include '_form_field_simple.html' with field=form_field errors=form.errors field_beside_label='1' beside_label_size='col-2' beside_label_min_w='16em' field_col_size='col-1' min_width='6em' %}
            </div>

            {# --------------- #}
            {# Sub row closing #}
            {# --------------- #}

            {% if form_field.name|is_in_string_list:'remove_with_less_epochs_than' %}
                </div>
            {% endif %}

        {% endfor %}

        <div class='row'>
            <div class="col mb-1 d-flex justify-content-end">
                <button class="btn btn-danger-form"
                        style="width: 50%;"
                        type="submit">
                    Sanitize
                </button>
            </div>
        </div>
    </div>

</form>

{% endblock content_block %}
