{% extends "pytorch_segmentation/base.html" %}
{% load static i18n dictionary %}

{% block content_block %}

<div class="container align-items-center em5">
    <div class="row em2">
        <div class="col">
            <a role="button" class="btn btn-primary btn-lg rounded-pill" href="{% url 'pytorch_segmentation:image_augmentation' %}" style="font-size: 200%; min-width: 75%;">
                Image Augmentation
            </a>
        </div>
        <div class="col">
            <a role="button" class="btn btn-primary btn-lg rounded-pill" href="{% url 'pytorch_segmentation:volume_augmentation' %}" style="font-size: 200%; min-width: 75%;">
                Volume Augmentation
            </a>
        </div>
    </div>
</div>

{% endblock content_block %}
