@import url("colors.css");

/* change background color */
.navbar-custom {
    background-color: var(--gray-dark-3);
}

/* change the brand and text color */
.navbar-custom .navbar-brand .navbar-custom,
.navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link.active,
.navbar-custom .nav-item:hover .nav-link,
.navbar-custom .active{
    color: var(--white) !important;
}

/* for dropdowns only */
.navbar-custom .navbar-nav .dropdown-menu {
    background-color: var(--black);
}

/* dropdown item text color */
.navbar-custom .navbar-nav .dropdown-item {
    color: var(--black);
}

/* dropdown item hover or focus */
.navbar-custom .navbar-nav .dropdown-item:hover,
.navbar-custom .navbar-nav .dropdown-item:focus {
    color: var(--white) !important;
    background-color: var(--black) !important;
}
