@import url("colors.css");

/* The search field */
.dropdown_search_input {
  font-size: 16px;
  width: 100%;
}

/* The search field when it gets focus/clicked on */
.dropdown_search_input:focus {
    outline: 3px solid var(--teal-dark);
}

/* Links inside the dropdown */
.dropdown_search_content a {
  display: block;
  padding-left: 0.5em;
}

/* Change color of dropdown links on hover */
.dropdown_search_content a:hover, .dropdown_search_content a.active, .dropdown_search_content a:active {
    background-color: var(--gray-light) !important;
    color: var(--black) !important;
}

/* Links inside the dropdown */
.log_dropdown_search_content a {
  display: block;
  padding-left: 0.5em;
  padding-top: 0.1em;
}

/* Change color of dropdown links on hover */
.log_dropdown_search_content a:hover {
    background-color: var(--gray-light) !important;
    color: var(--black) !important;
}

.log_dropdown_search_content a.active, .log_dropdown_search_content a:active {
    background-color: var(--danger-red);
    color: var(--gray-light);
}

/* Add show during js when needed and initialize with display: none */
.show {
    display: block;
}


.logs-a {
    color: var(--gray);
    text-decoration: none !important;
}

.logs-a:hover {
    color: var(--white);
    text-decoration: none !important;
    cursor: pointer;
}
.logs-a.active {
    background-color: var(--danger-red) !important;
    text-decoration: none !important;
    cursor: pointer;
}