{% load static i18n %}

<!DOCTYPE html>
<html>

<head>
    <title>Pytorch Segmentation</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="icon" href="{% static 'pytorch_segmentation/images/favicon.png' %}">

    <link rel="stylesheet" href="{% static 'pytorch_segmentation/css/colors.css' %}">

    <link rel="stylesheet" href="{% static 'pytorch_segmentation/css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'pytorch_segmentation/css/custom_alerts.css' %}">
    <link rel="stylesheet" href="{% static 'pytorch_segmentation/css/custom_navbar.css' %}">
    <link rel="stylesheet" href="{% static 'pytorch_segmentation/css/div_alignment.css' %}">
    <link rel="stylesheet" href="{% static 'pytorch_segmentation/css/links.css' %}">
    <link rel="stylesheet" href="{% static 'pytorch_segmentation/css/relative_positioning.css' %}">
    <link rel="stylesheet" href="{% static 'pytorch_segmentation/css/scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'pytorch_segmentation/css/search_dropdown.css' %}">
    <link rel="stylesheet" href="{% static 'pytorch_segmentation/css/utils.css' %}">

    {% block header %}
    {% endblock header %}

</head>

<body>
    <img class="img-fluid" style="width:100vw;" src="{% static 'pytorch_segmentation/images/main_theme/navbar_simple_text_thin.png' %}" alt="theme">
    <div class="container-fluid" >
        {# ----------------- #}
        {# Navbar with image #}
        {# ----------------- #}

        <div class="side-by-side-wrapper">
            <div class="div-left-150px">
                {# --------------- #}
                {# Left navigation #}
                {# --------------- #}
                <nav class="navbar navbar-custom justify-content-start">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link {% if navbar_view == 'index' %} active {% endif %}" href="{% url 'pytorch_segmentation:index' %}">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if navbar_view == 'training' %} active {% endif %}" href="{% url 'pytorch_segmentation:training_overview' %}">
                                Training
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if navbar_view == 'inference' %} active {% endif %}" href="{% url 'pytorch_segmentation:inference' %}">
                                Inference
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if navbar_view == 'trained_models' %} active {% endif %}" href="{% url 'pytorch_segmentation:trained_model_overview' %}">
                                Trained Models
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if navbar_view == 'model_comparison' %} active {% endif %}" href="{% url 'pytorch_segmentation:model_comparison' %}">
                                Comparison
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if navbar_view == 'augmentation' %} active {% endif %}" href="{% url 'pytorch_segmentation:augmentation' %}">
                                Augmentation
                            </a>
                        </li>
                        <li class="nav-item">
                            <p class="em1 {% if navbar_view|is_in_string_list:'model_import;datasets;logs;monitor' %} text-color-white {% else %} text-color-gray {% endif %} ">More:</p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if navbar_view == 'model_import' %} active {% endif %}" href="{% url 'pytorch_segmentation:trained_model_import' %}">
                                Model Import
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if navbar_view == 'datasets' %} active {% endif %}" href="{% url 'pytorch_segmentation:datasets_overview' %}">
                                Datasets
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if navbar_view == 'configurations' %} active {% endif %}" href="{% url 'pytorch_segmentation:configurations_overview' %}">
                                Configurations
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if navbar_view == 'logs' %} active {% endif %}" href="{% url 'pytorch_segmentation:logs' %}">
                                Logs
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if navbar_view == 'monitor' %} active {% endif %}" href="{% url 'pytorch_segmentation:monitor' '-1' %}">
                                Monitor
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://gitlab.com/fra-wa/pytorch_segmentation/-/blob/master/README.md">
                                About
                            </a>
                        </li>
                        <li>
                            <p style="font-size: 75%; color: #84868b;">
                                Background: <a class="nav-link" href="https://wallpaperbat.com/">&#169;WallpaperBat</a>
                            </p>
                        </li>

                    </ul>

                </nav>
            </div>

            {# -------------- #}
            {# Main container #}
            {# -------------- #}
            <div class="div-right">
                <main class="container-main">
                    {% include "_messages.html" %}
                    {% block content_block %}
                    <!-- Content here -->
                    {% endblock content_block %}
                </main>
            </div>
        </div>
    </div>
    {% block additional_scripts %}

    {# ------------ #}
    {# Scripts here #}
    {# ------------ #}

    {% endblock additional_scripts %}
</body>

</html>