{% extends "pytorch_segmentation/base.html" %}
{% load static i18n dictionary %}

{% block content_block %}

<div class="container align-items-center em5">
    <div class="row em2">
        <div class="col">
            <a role="button" class="btn btn-primary btn-lg rounded-pill" href="{% url 'pytorch_segmentation:training_overview'%}" style="font-size: 200%;  width: 100%;">
                Training
            </a>
        </div>
        <div class="col">
            <a role="button" class="btn btn-primary btn-lg rounded-pill" href="{% url 'pytorch_segmentation:augmentation' %}" style="font-size: 200%; width: 100%;">
                Augmentation
            </a>
        </div>
        <div class="col">
            <a role="button" class="btn btn-primary btn-lg rounded-pill" href="{% url 'pytorch_segmentation:inference' %}" style="font-size: 200%; width: 100%;">
                Inference
            </a>
        </div>
    </div>
    <div class="row em2">
         <div class="col">
            <a role="button" class="btn btn-primary btn-lg rounded-pill" href="{% url 'pytorch_segmentation:trained_model_overview' %}" style="font-size: 200%; width: 100%;">
                Trained Models
            </a>
        </div>
        <div class="col">
            <a role="button" class="btn btn-primary btn-lg rounded-pill" href="{% url 'pytorch_segmentation:model_comparison' %}" style="font-size: 200%; width: 100%;">
                Comparison
            </a>
        </div>
        <div class="col">
            <a role="button" class="btn btn-primary btn-lg rounded-pill" href="{% url 'pytorch_segmentation:trained_model_import' %}" style="font-size: 200%; width: 100%;">
                Import
            </a>
        </div>
    </div>

</div>

{% endblock content_block %}
