{% extends "pytorch_segmentation/base.html" %}
{% load static i18n dictionary list%}

{% block content_block %}

<form class="form-base-coloring" id="input_form" method="post" style="width: 100%">
    {% csrf_token %}
    <div class="centered-div">
        <p class="h3">Import networks trained with this framework</p>
        <small>If you trained a neural network on a different pc, you can import it here.</small>
        {% for form_field in form %}
            {# -------- #}
            {# Sub rows #}
            {# -------- #}

            {% if form_field.name|is_in_string_list:'checkpoint_path;search_in_sub_folders;dataset_choice' %}
                <div class="row em1">
            {% endif %}

            {# ------------- #}
            {# Fields #}
            {# ------------- #}

            <div class="col-sm">
                {% if not form_field.name|is_in_string_list:'checkpoint_path' %}
                    {% include '_form_field_simple.html' with field=form_field errors=form.errors field_beside_label='1' beside_label_size='col-4' beside_label_min_w='15em' field_col_size='col-6' min_width='18em' %}
                {% else %}
                    {% include '_form_field_simple.html' with field=form_field errors=form.errors %}
                {% endif %}
            </div>

            {# --------------- #}
            {# Sub row closing #}
            {# --------------- #}

            {% if form_field.name|is_in_string_list:'checkpoint_path;only_last_of_sub_folder;dataset_choice' %}
                {% if form_field.name == 'dataset_choice' %}
                    <div class="col-sm">
                        <a role="button" id="create_dataset" class="btn btn-primary-form" href="{% url 'pytorch_segmentation:edit_dataset' -1 %}">
                            Create new dataset
                        </a>
                    </div>
                {% endif %}
                </div>
            {% endif %}
        {% endfor %}

        <div class='row justify-content-center em1'>
            <div class="col mb-1">
                <button id="js-run-button" class="btn btn-success-form" style="width:100%;" type="submit">
                    Import
                </button>
            </div>
        </div>
    </div>

</form>

{% endblock content_block %}
