{% if messages %}
<ul class="messages" style="padding-left: 0 !important;">
    {% for message in messages %}

        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <div class="alert alert-custom-warning {{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div class="alert alert-danger {{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-secondary {{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}