{% extends "pytorch_segmentation/base.html" %}
{% load static i18n dictionary %}

{% block content_block %}
<div class="centered-div">
    <p class="h5 text-color-teal">Here you can edit and add datasets.</p>
    <div class="row">
        <div class="col-sm">
            <p class="text-color-gray">
                Datasets are just informational and <b>should not be changed by a user.</b><br>
                If you import a network trained on a different pc, you might not have the dataset info
                stored on your drive. However, knowing on which dataset a model was trained on is important.
            </p>
            <a role="button"
               class="col btn btn-primary"
               href="{% url 'pytorch_segmentation:edit_dataset' -1 %}"
               style="min-width: 50%;">
                Add a dataset
            </a>
        </div>
        <div class="col-4 text-center">
            <h5 class="text-color-teal">Stored Datasets</h5>
            <div class="dropdown_search_div">
                <div id="datasets_id" class="dropdown_search_content show">
                    <input type="text" class="dropdown_search_input js-dropdown-filter-input" data-parent_div_id="datasets_id" placeholder="Search..">
                    <div class="default-vt-scroll-menu" style="max-height: 50vh; min-height: 10vh;">
                        {% for dataset in datasets %}
                            <a class="nav-link-a" href="{% url 'pytorch_segmentation:edit_dataset' dataset.pk %}">
                                {{ dataset.name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content_block %}
{% block additional_scripts %}
    <script src="{% static 'pytorch_segmentation/js/dropdown_search.js' %}"></script>
{% endblock additional_scripts %}