{% extends "pytorch_segmentation/base.html" %}
{% load static i18n dictionary %}

{% block content_block %}
<div class="centered-div">
    <div class="row">
        <div class="col">
            <h5 class="text-color-teal">Stored Training Configurations</h5>
            <p class="text-color-gray">
                The configuration entries below are created at the training setup.<br>
                If you run a calculation of the optimal parameters, a config entry will be created,<br>
                so that the config can be loaded instead of calculated.
            </p>
            <small class="text-color-gray">H: Height, W: Width, D: Depth, Bs: Batch size, C_in: input channels, C_out: classes</small>
            <div class="d-flex align-items-center justify-context-center">
                <div class="em1" style="min-width: 600px;">
                    <div class="background-color-gray-dark-2 dropdown_search_div">
                        <div id="training_config_div" class="dropdown_search_content show">
                            <input type="text" class="dropdown_search_input js-dropdown-filter-input" data-parent_div_id="training_config_div" placeholder="Search..">
                            {% for config in training_configurations %}
                                <div class="default-vt-scroll-menu" style="max-height: 80vh;">
                                    <a class="nav-link-a" href="{% url 'pytorch_segmentation:edit_training_configuration' config.pk %}">
                                        {{ config.architecture }}{% if config.backbone %} {{ config.backbone }}{% endif %}
                                        (H: {{ config.input_height }}, W: {{ config.input_width }}
                                        {% if config.input_depth %}
                                            , D:{{ config.input_depth }}
                                        {% endif %} Bs: {{ config.batch_size }}, C_in: {{ config.channels }}, C_out: {{ config.classes }})
                                    </a>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <h5 class="text-color-teal">Stored Inference Configurations</h5>
            <p class="text-color-gray">
                The configuration entries beneath are created at the inference setup.<br>
                If you run an inference, a config entry will be created,<br>
                so that the config can be loaded instead of calculated.
            </p>
            <small class="text-color-gray">H: Height, W: Width, D: Depth, Bs: Batch size, C_in: input channels, C_out: classes</small>
            <div class="d-flex align-items-center justify-context-center">
                <div class="em1" style="min-width: 600px;">
                    <div class="background-color-gray-dark-2 dropdown_search_div">
                        <div id="inference_config_div" class="dropdown_search_content show">
                            <input type="text" class="dropdown_search_input js-dropdown-filter-input" data-parent_div_id="inference_config_div" placeholder="Search..">
                            {% for config in inference_configurations %}
                                <div class="default-vt-scroll-menu" style="max-height: 80vh;">
                                    <a class="nav-link-a" href="{% url 'pytorch_segmentation:edit_inference_configuration' config.pk %}">
                                        {{ config.architecture }}{% if config.backbone %} {{ config.backbone }}{% endif %}
                                        (H: {{ config.input_height }}, W: {{ config.input_width }}
                                        {% if config.input_depth %}
                                            , D:{{ config.input_depth }}
                                        {% endif %} Bs: {{ config.batch_size }}, C_in: {{ config.channels }}, C_out: {{ config.classes }})
                                    </a>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
        </div>
        </div>
    </div>

</div>


{% endblock content_block %}


{% block additional_scripts %}
    <script src="{% static 'pytorch_segmentation/js/dropdown_search.js' %}"></script>
{% endblock additional_scripts %}
